@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.banner{
   background-color: rgb(1, 89, 92);
   text-align: justify;
   color: white; 
   max-width: 1300px;  
   width: 100%;
   margin: auto; 
   margin-bottom: 60px;
}

.banner .linha{
    margin-top: 5px;
    margin: auto;
    text-align: center;
}

.linha{
    max-width: 1000px;  
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;     
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-top: -100px;   
}

.col-2 img{
    width: 90%;
    padding: 50px 0;
}


.btn{
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: #555;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s;
}

.btn:hover{
    background-color: rgb(31, 248, 31);
    color:red;
}


.areas{
   height:500px ;
    margin: 70px 0;
    width: 100%;
     background-image: url('../imagem/fundo.jpg');
     background-repeat: no-repeat;
     margin-bottom: 60px;
     background-size: cover;
}
.areas h4{
    color: white;
}


.corpo-areas{
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}

.corpo-areas h3{
    text-align: center;
    margin-bottom: 40px;
    color: white;
}


.linha-2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  justify-items: center; 

}


.col-4{
  width: 100%;
  display: flex;
  flex-direction: column;   
  align-items: center;
}

.col-4 a{
text-decoration: none;
}
.col-4 a h4{
  margin-top: 4px;     
  min-height: 18px;     
  text-align: center;
  line-height: 1.1;
  color:  white ;
}


.col-4 a img{
 width: 100%;  
  height: auto;
  display: block;
}


.col-4:hover{
  transform: scale(1.05);
}


.destaque {
    background-color: #F1F8E9; 
    padding-top: 60px;          
    padding-bottom: 20px;       
    position: relative;          
}
.corpo-destaque {
    max-width: 1080px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.subnavegacao{
    margin-top: 60px;
    min-height: ;
}
.subnavegacao ul{
    display:flex;
   justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;

}


.subnavegacao ul li{
    list-style: none;
}

.subnavegacao ul  li a{
    text-decoration: none;
    background-color:rgb(1, 89, 92);
    padding: 15px;
    text-align: center;
    height: 30px;
    color: white;
    font-weight: 600;
  
}

.subnavegacao ul  li a:hover{
    background-color: #ff523b;
    border: solid 2px rgb(1, 89, 92);;
}

.desafio {
    background-color: #F1F8E9; 
    padding: 60px 0 20px;
    width: 100%;
}


.corpo-desafio {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}


footer{
    background-color: rgb(1, 89, 92);
    padding: 20px 10px;  
    width: 100%;
}

footer p{
    color: white;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

footer ul li{
    list-style: none;
}

footer ul li a img{
    width: 40px;       
    max-width: 100%;    
    height: auto;
    border-radius: 50%;
}

footer ul li a img:hover{
    border: solid 2px white;
}




/*  media query para tablet*/
@media only screen and (max-width: 992px){
    .col-4{
        max-width: 45%;          
    }
}



/* media query para movel */
@media only screen and (max-width:800px){
 .banner{
     margin-bottom: 30px;
 }

  .linha{
    flex-direction: column; 
    text-align: center;
  }

  .col-2{
    margin-top: 0;
    flex-basis: 100%;
  
  }

  .col-2 img{
   display: none;

  }

  .btn{
    font-size: 18px;
  }

  
    .areas {
        
         min-height: 690px;  
        margin-bottom: 30px;
    }

    .areas h4{
        background-image: url('../imagem/h4.jpg');
        color: white;
        border-color: black;
    }

    .linha-2{
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
 
  }
   


  .col-4{
    max-width: 200px;   
  }

  .col-4 h4{
    color:white;
   
  }

  .col-4 a img{
    width: 100%; 
    max-width: 150px;
    max-height: 170px;
            
  }

.destaque {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .corpo-destaque {
        padding-left: 10px;
        padding-right: 10px;
    }

    .destaque h1 {
        font-size: 24px;
    }

    .destaque h3 {
        font-size: 18px;
    }

    .destaque p {
        font-size: 14px;
        line-height: 1.5;
    }

    .desafio {
        padding-top: 40px;
        padding-bottom: 40px;
    }

     .corpo-desafio {
        padding-left: 10px;
        padding-right: 10px;
    }

     .desafio h1 {
        font-size: 24px;
    }

     .desafio p {
        font-size: 14px;
        line-height: 1.5;
    }
}
